<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8" />
</head>
<body>
 
    <h1>Пользователи</h1>
    
      <a href="/users">К списку пользователей</a>
      <h1>Создать пользователи</h1>
      <a href="/users/create">Создание пользователя</a>
     <h1>Карта</h1>
      <a href="/users/map">Карта</a>
   
</body>
<html>
    