<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>
<body>
    <a href="/users/create">Добавить пользователя</a>
    <h1>Список пользователей</h1>
     <table>
         <tr><th>Имя</th><th>Возраст</th><th>Ширина</th><th>Долгота</th></tr>
         {{#each users}}
            <tr><td>{{this.name}}</td><td>{{this.age}}</td><td>{{this.coords.lat}}</td><td>{{this.coords.lng}}</td></tr>
         {{/each}}
     </table>
</body>
<html>